table {
    border-collapse: separate;
    empty-cells: hide;
    width: 100%;
}

.tabela,
th,
td {
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(160 160 160);
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.acao {
    width: 5%;
    text-align: center;
}

.id {
    width: 2%;
}